
<form action="/admin/addProduct" method="post" >
  <div class="form-group">
    <label for="pName">Product Name:</label>
    <input type="text" name="pName" class="form-control" id="pName">
  </div>
  <div class="form-group">
    <label for="p">Product category:</label>
    <input type="text" name="pCategory" class="form-control" id="pCategory">
  </div>
  <div class="form-group">
    <label for="p">Product deescription:</label>
    <input type="text" name="pDescription" class="form-control" id="pDescription">
  </div>
  <div class="form-group">
    <label for="p">Product price:</label>
    <input type="text" name="pPrice" class="form-control" id="pPrice">
  </div>
  <div class="form-group">
    <label for="p">Product Image:</label>
    <input type="file" name="pImage" class="form-control" id="pImage">
  </div>


  <button type="submit" class="btn btn-default">Upload</button>
</form>
