<form action="/register" method="post">


  <div class="form-group">
    <label for="uName">User name:</label>
    <input type="text" class="form-control" id="uName" placeholder="Enter user name" name="uName" >
  </div>
  <div class="form-group">
    <label for="email">User email:</label>
    <input type="email" class="form-control" id="email" placeholder="Enter useremail" name="email" >
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
  </div>
  <div class="form-group">
    <label for="cnfpwd">Confirm Password:</label>
    <input type="password" class="form-control" id="confirmPassword" placeholder="Re - Enter password" name="confirmPassword">
  </div>

  <button type="submit" class="btn btn-default">Register</button>


</form>
